a{
    text-decoration: none;
    color: inherit;

}

a:hover{
    color: var(--primary);
}

header{
    background-color: #ffffff;
    
}

.header{
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    margin-left: 165px;
}

.container{

    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
   /* margin-left: 165px;
    margin-right: 161px;*/
}
    

    @media (min-width: 768px){
    .container{
        width: 750px
    }  
    }

    @media (min-width: width 992px){
        .container{
            width: 970px
        }
    }

    @media (min-width: 1200px){
        .container{
            width: 1170px;
        }
    }


.header_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.header_link{
    margin-left: 47px;
}

.header_link a{
    font-weight: 600;
} 

.logo{
    width: 48px;
    height: 48px;

}
.logo img{
    width: 48px;
    height: 48px;
    
}