*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/**------------------------------------------------------------*/
header a{
    color: black;
    font-weight: 600;
font-size: 20px;
}
header{
    width:100vw;
    height:13vh;
   
}
.main_header{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo img{
    margin-top: 18px;
}
.refer{
    display: flex;
    width: auto;
}
.refer *{
    margin-top: 18px;
    margin-right: 35px;
}
.logo img:hover{
    transform: scale(0.98);
}
.refer *:hover{
    transform: scale(1.05);
}
/*                               */
.container{
   width: 100vw;
}
/* ///////////////////////////////////////////// */

.block_one {
    display: flex;
    background: #F6F6F6;
    font-family: Inter;
}

.block_one h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 100px 30px 14px 165px;
}

.block_one h1{
    font-size: 78px;  
    font-weight: bold;  
    margin: 0px 0px 14px 165px;
}

.block_one p{
    font-size: 20px;
    margin: 0px 0px 0px 165px;
}

.btn1{
    margin: 24px 0px 24px 165px;
    font-size: 35px;
    font-weight: bold;
    border: 1px solid #ff7171;
    color: #FF7171;
    width: 203px;
    height: 80px;
}

.block_one img{
    width: 604px;
    height: 635px;
    padding: 60px 100px 144px 15px;
}


/* /////////////////////////////////////////////////////// */
.block3{
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.block3_image{
    height: 100%;
    width: 50%;
    
}
.block3_image img{
    height: 100%;
    width: 100%;
}
.block3_email{
    height: 100%;
    width: 50%;
    background: #FF7171;
}
.gift{
    position: absolute;
    left:calc(50vw - 48.5px);
    top: 66px;
}
.block3_email_container{
    height: 100%;
    width: 45%;
    margin: 10vw auto 0 auto;
}
.block3_email_h{
    font-weight: bold;
font-size: 45px;
margin-bottom: 16px;
}
.block3_email_text{
    font-size: 16px;
line-height: 28px;
margin-bottom: 16px;
}
.block3_email_input{
    width: 100%;
    border: 2px solid #3D3D3D;
    border-radius: 3px;
    height: 64px;
    font-weight: 600;
font-size: 20px;
color: #3D3D3D;
background: #FF7171;
padding-left: 10%;
margin-bottom: 16px;
transition-property: all;
transition-duration: 0.5s;
transition-timing-function: ease;

}
input::-webkit-input-placeholder { color: #3D3D3D; }

.block3_email_input:focus{
background:rgb(250, 95, 95) ;
border: 2px solid rgb(98, 188, 240);
transform: scale(1.05);
}
.block3_email_btn{
    max-width: 100%;
    height: 64px;
    background: #3D3D3D;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
font-size: 32px;
cursor: pointer;
margin-bottom: 16px;
transition-property: all;
transition-duration: 0.4s;
transition-timing-function: ease;
}
.block3_email_btn:hover{
    border-radius: 8px;
    background: black;
    color: #FF7171;
    transform: scale(1.1);
}
.block3_email_btn:active{
    transform: scale(0.9);
}
.block3_email_span{
    font-size: 16px;
}
body{
font-family: 'Inter', sans-serif;
}


footer{
    margin-bottom: 25px;
}
.linkcolumns{
    display:flex;
    justify-content: space-between;
}

.main-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    border-bottom: 2px solid #989898 ;
    margin-left: 150px;
    margin-right: 140px;
    padding-bottom: 30px;
    color: #3D3D3D;
}

footer h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    
}


footer a{
    display: block;
    margin-right: 140px;
    font-size: 16px;
    margin-bottom: 4px;
    cursor: pointer;
    
}

.JoinUs{
    font-size: 18px;
    margin-bottom: 13px;
    font-weight: 600;
}

footer input{
    width:180px;
    height: 40px;
    font-weight: 600;
    padding-left: 7px;
}

footer button{
    width: 60px;
    height: 40px;
    background-color: #ff7171;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

footer form{
    border: 1px solid black;
    width: 240px;
    padding: 0;
    display: flex;
}

.bottom{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-top: 25px;

}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80px;
}

.icon{
    width: 16px;
    height: 16px;
}

.bottom_a{
    font-size: 12px;
    color: #989898;
    margin-top: 15px;
}

.block2{
    height: auto;
    display: flex;
    margin: 100px 130px 100px 100px;
}

.block2_img{
    height: 450px;
    width: 500px;
}

.block2_h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 25px;
}

.block2_p{
    font-size: 20px;
    width: 390px;
    margin-bottom: 50px;
}


.block2_icons{
    display: flex;
    justify-content: space-between;
    width: 390px;
}

.about{
    margin-left: 100px;
    margin-top: 110px;
    margin-right: 100px;
}


.about_content{
    display: flex;
    min-width: 900px;
    justify-content: space-between;
    margin-bottom: 80px;

}

.about_h1{
    font-size: 37px;
    font-weight: bold;
    width: 600px;
}

.about_description{
    vertical-align: middle;
    padding-top: 10px;
    font-size: 17px;
    width: 450px;
    margin-left: 20px;
}



.about_team{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.name{
    padding-left: 60px;
    padding-top: 15px;
    font-weight: 600;
    font-size: 21px;
}

.status{
    font-size: 17px;
    padding-left: 60px;
    padding-top: 10px;
}


.about_img{
    width: 210px;
    height: 220px;
}

/* //////////////////////////////////////////////*/

.buy {
   
    font-family: Inter;
    background: #F6F6F6;
}

.Chose {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding: 141px 0 0 0 ;
}

.buy > p{
    font-size: 24px;
    text-align: center;
    padding: 16px;
}

.btn__one{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__Y{
    width: 123px;
    height: 48px;
    font-size: 24px;
    background: #FF7171;
    color: white;
}

.btn__M{
    width: 123px;
    height: 48px;
    font-size: 24px;
    background: white;
    color: #FF7171;
    border: 1px solid #FF7171;
}

.buy_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy_block-one{
    width: 445px;
    height: 527px;
    text-align: center;
    margin: 44px 10px;
    border: 1px solid black;
    border-radius: 3%;
}

.buy_block-two{
    background: #FF7171;
    border: none;
    color: #ffffff;
}

.buy_block-one h1{
    font-size: 80px;
    font-weight: bold;
    padding: 64px 0 16px 0;
}

.buy_block-one h2{
    font-size: 30px;
    font-weight: bold;
}

.buy_block-one p{
    font-size: 24px;
    padding: 16px 0 101px 0;
}

.buy_block-one button{
    border: 1px solid black;
    font-size: 32px;
    font-weight: bold;
    width: 400px;
    height: 80px;
}

.buy_block-two button{
    border: 1px solid white;
    background:  #FF7171;
    color: white;
}

                     /* ------------Адаптив---------- */





@media (max-width:913px){
    .block3{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100vw;
        position: relative;
    }
    .block3_image{
display: none;
    }
    .block3_email{
        width: 100%;
        height: 100vh;
    }
    .gift{
        display: none;
    }
    .block3_email_btn{
        font-size: 20px;
    }
    .main_header{
        display: flex;
        flex-direction: column;
       
    }
    header{
       height: auto;
       width: 100vw;
        margin-bottom: 20px;
    }
    .buy_section{
        width: 100vw;
    }
    .buy_block {
        display: flex;
        flex-direction: column;
    }
    .buy_block-one{
        width: 80vw;
        margin: 0 auto 20px auto;
    }
    .buy_block-one button{
        width: 60%;
        margin: 0 auto;
        font-size: 20px;
        height: 50px;
    }
    
    .Chose{
        font-size: 32px;
    }
.buy > p{
font-size: 18px;
}
header a{
    font-size: 15px;
    margin: 0;
}
.refer{
    display: flex;
    justify-content:space-between ;
    width: 80vw;
    margin: 0 auto;
}
.refer *{
    margin-right: 0;
}
.btn__one{
    width: 80vw;
    margin: 0 auto 20px auto;
}
.btn__Y{
    width: 30vw;
    font-size: 17px;
    height: 35px;
}
.btn__M{
    width: 30vw;
    font-size: 17px;
    height: 35px;
}
footer{
    width: 100vw;
    margin-top: 30px;
}
.linkcolumns {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.column{
    margin-bottom: 10px;
  
   
}
.main-footer {
    display: flex;
   flex-direction: column;
   width: 80%;
   margin: 0 auto;
   justify-content: center;
}
.bottom {
    display: flex;
   flex-direction: column;
   width: 80vw;
   margin: 0 auto;
   
}
.footer_logo{
 margin-top: 10px;
}
.footer_logo a{
    position: relative;
    left: calc(50vw - 58.5px);
}
.icons{
    margin-top: 10px;
}
.bottom_a {
    font-size: 12px;
    color: #989898;
    margin-top: 10px;
    position: relative;
    left: calc(50vw - 98px);
    margin-right: 0;
    width: 150px;
}
.about{
    width: 100vw;
    margin: 50px 0px 0px 0px
}
.about_content{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-width: 0;
}
.about_h1{
    font-size: 20px;
    width: 80vw;
    min-width: 0;
}
.about_description{
    width: 80vw;
    margin: 0 ;
}
.about_team {
    display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
  justify-content: center;
}
.about_img{
    width: 100%;
    height: 50%;
}
.teammate{
    margin-bottom: 20px;
}
.block3_email_container {
    margin: 20vw auto 0 auto;
}
.block_one img{
    display: none;
}
.block_one div{
    /* display: flex;
    /* justify-content: center; */
    flex-direction: column; 
    width: 80vw;
    margin: 0 auto;
}
.block_one{
    text-align: center;
}
.block_one div *{
    width: 80vw;
    margin: 0 auto 30px auto;
}
.block_one div h2{
    margin-top: 20px;
    font-size: 20px;
}
.block_one div h1{
    font-size: 50px;
}
.block_one div .btn1{
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    height: 50px;
    margin-bottom: 20px;
}
.block2_illustration{
    display: none;
}
.block2{
    width: 80vw;
    margin: 30px auto 0 auto;
}
.block2_content{
width: 100%;
}
.block2_icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.block2_p {
    font-size: 20px;
    width: 100%;
    margin-bottom: 50px;
}
.footer_logo_img{
    margin-right: 0;
    width: 150px;
}
}